@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


:root{
  --blue:#326789;
  --white-light:#E9EEF4;
  --blue-claire:#78A6C8;
  --red:#E65C4F;
  --white:#ffff;
  --black:#0000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  font-family: 'Source Sans Pro','san-serif';
  background: var(--white);
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
.Sidebar{
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
    background: var(--white-light);
    color: var(--blue);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Main{
  width: 77%;
  height: 100%;
}
.contenu{
  width: 100vw;
  height: 100vh;
  background: gray;
}
.main{
  background-image: url("./scenes/Users/assets/yo.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right 0;
}
.header{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 37px;
  margin-left: 173px;
}

.header .title{
  margin-left: 173px;
  margin-top: 37px;
}

.content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.inputs{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.FormInput{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 173px;
  margin-top: 64px;
  height: 80px;
  width: 400px;

}

.FormInput .FormInput-title{
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #326789;
}

.FormInput .FormInput-input{
  outline: none;
  height: 45px;
  width: 400px;
  font-size: 17px;
  padding-left: 15px;
  background: #e9eef4;
  border: none;
  border-radius: 9px;
  box-shadow: 3px 3px 2px gray;
  color: #326789;
}

.login{
  width: 114px;
  height: 38px;
  background: #326789;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  line-height: 14.52px;
  font-weight: 700;
}

.text{
  width: 380px;
  height: 175px;
  margin-top: 4rem;
  font-size: 30px;
}

.text b{
  color: #E65C4F;
}

.back-image{
  width: 477px;
  height: 267px;
  background-image: url('./back-image.svg');
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
