#container{
    width: 100%;
    height: 100%;
}
#result-container{
    width: 100%;
}
table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .head{
    width: 100%;
    height: 18.7%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: sticky;
    top: 0; 
    z-index: 100; 
  }
  .top-container{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  table{
    margin-top: 0.5rem;
    margin-left: 4rem;
    width: 80%;
    color: var(--blue);
  }
  th, td {
    padding: 3px;
    text-align: center;
  }
  
  #search-container {
    width: 50%;
    margin: 2rem;
    height: 40px;
    margin-left: 12rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid var(--blue);
    line-height: 1;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: var(--blue);
  }
  select{
    border:1px solid var(--blue);
    border-radius: 10px;
    width:90px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: 600;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height:30px;
    background-color: var(--white);
    color: var(--blue);
  }
  input{
    width: 80%;
    border: none;
    outline: none;
    height: 80%;
    color: var(--blue);
  }
  .actions{
    width: 40%;
    height: 10%;
    display: flex;
    margin-left: 15rem;
    gap:1rem;
    font-weight: 600;
    color: var(--blue);
    flex-direction: row;
    justify-content: space-around;
  }
  h1{
    padding: 1rem;
    color: var(--blue);
  }
.button-container{
  display: flex;
}
button {
  align-items: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--blue);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  height: 38.98px;
  width: 20%;
}

button:hover,
button:focus {
  color: var(--white);
  background-color: var(--blue-claire);
}

.ellipsis-container {
  position: relative;
  display: inline-block;
}

.ellipsis-icon {
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.options-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-menu li {
  padding: 8px;
  cursor: pointer;
}

.options-menu li:hover {
  background-color: #f5f5f5;
}
h3{
  color: var(--blue);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
Link{
  font-style: none !important;
}
.drop-container{
width: 22rem;
height: 8rem;
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
border: 1.8px dashed #1f2427;
background: var(--white-light);
}
h2{
  color: var(--blue);
  margin-left: 1rem;
  padding: 5px;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.room-container{
display: inline-block; 
padding: 0.5rem;
margin-left: 0.5rem;
margin-right: 0.5rem;
width: 22%;
}
.hovered {
  color: var(--red);
  cursor: pointer;
}

.box{
background: var(--white-light);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
padding: 1rem;
gap: 0.2rem;
}
.box h3{
  padding: 0rem;
}
.box button {
  font-size: 12px; 
  width: 100px;
  color: var(--white);
  border-radius: 10px;
  background: var(--blue-claire);
}
.box img{
  width: 100px;
  border-radius: none;
  height: 80px;
}
.detailsRoom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.detailsRoom img{
  width: 20%;

}
.request-container{
  background: #E9EEF4;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 875px;
  height: 135px;
  border-radius: 10px;
}
.request-container-header{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  
}
.request-title{
  margin-left: 21px;
  padding: 0;
}

.request-creator{
  margin-left: 23px;

}

.request-pourcentage{
  margin-left: 119px;
  margin-top: 19px;
}

.progress-bar{
  border-radius: 50px;
}
.progress-bar-filled{
  border-radius: 50px;
}

.request-pourcentage-text{
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.request-pourcentage-text p{
  display: inline-block;
}

.request-pourcentage-text p.right{
  float: right;
  size: 10px;
}


.request-content{
  display: flex;
  justify-content: space-between;
}

.request-button{
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 50px;
}



.request-button button.approve{
  width: 120px;
  height: 30px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--blue);
}

.request-button button.reject{
  width: 120px;
  height: 30px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--red);
}



.text-container.expanded {
  max-height: none;
}

.text-container button {
  outline: auto;
  margin-top: 8px;
  cursor: pointer;
}



/* =============================*/

.request-content-text {
  width: 400px;
  margin-left: 21px;
  margin-top: 10px;
}

.textDiv {
  height: 60px;
  overflow: hidden;
  transition: height 0.3s ease;
}
.textDiv strong{
  color: var(--blue);
}

.textDiv p{
  margin-left: 16px;
  
}

.textDiv.expanded {
  height: auto;
}

.voir{
  border: none;
  background: none;
  padding: 0; 
  margin: 0; 
  font: inherit; 
  cursor: pointer;
  color: inherit; 
  text-align: inherit;
  
}
.room-card {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}


.room-list {
  top: 100%; 
  margin-left: 5rem;
  background-color: var(--white-light);
  border: 1px solid var(--blue);
  padding: 10px;
}
.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.notifications-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*report page */
.report-container{
  width: 882px;
  height: 62px;
  background: #E9EEF4;
  margin: 20px auto 0;
  border: 1px;
  position: relative;
}


.reported-name,.reported-text,.details-icon,.report-checkbox{
  position: absolute;
  top: 50%;
}

.reported-name{
  margin-left: 75px;
  transform: translateX(-50%) translateY(-50%);
  width: 83px;
  height: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--blue);
}

.reported-text{
  left: 350px;
  transform: translateX(-50%) translateY(-50%);
  width: 376px;
  height: 22px;
  color: var(--blue);
}
.reported-text span{
  color: var(--red);
}


.details-icon{
  transform: translateX(-50%) translateY(-50%);
  left: 750px;
}


.report-checkbox{
  transform: translateX(-50%) translateY(-50%);
  right: 25px;
}

.report-container-2{
  width: 882px;
  height: auto;
  border: 1px;
  background-color: var(--white-light);
  margin: 20px auto 0;
}


.report-container-2-header{
  height: 62px;
  position: relative;
}


.container-details-section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-section{
  width: 90%;
  height: auto;
  display: flex;
  color: var(--blue);
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.details-section h4{
  color: var(--red);
}

.details-section .p1 {
  margin-left: 53px;
  word-wrap: break-word;
  flex: 1;
}

.details-section .p2 {
  margin-left: 25px;
  word-wrap: break-word;
  flex: 1;
}

.details-section .p3 {
  margin-left: 81px;
  word-wrap: break-word;
  flex: 1;
}



@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 978px) {
  
}

@media screen and (max-width: 830px) {
  
}

@media screen and (max-width: 768px) {
  
}